{% extends 'layout.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="card home-card">
   
    <h2>Understand Ireland’s Economy.</h2>
    <p class="hero-subtext">Making Irish Financial Data Simple and Accessible.</p>

    <a href="{{ url_for('visuals') }}" class="cta-button">Dive Into Data</a>

</div>

<div id="quote-box" class="quote-box">
    <span class="quote-icon">“</span>
    <blockquote id="quote-text">Loading insight...</blockquote>
</div>

<script src="{{ url_for('static', filename='quotes.js') }}"></script>
<script>
    const quoteBox = document.getElementById("quote-text");
    const randomIndex = Math.floor(Math.random() * quotes.length);
    quoteBox.textContent = quotes[randomIndex];
</script>

{% endblock %}

