<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Financial Tool{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1><a href="{{ url_for('home') }}">Byrne Analytics</a></h1>
        <p class="subtitle">by Byrne Group</p>
        <nav class="main-nav">
            <a href="{{ url_for('home') }}">Home</a>

            <div class="dropdown">
                <a href="{{ url_for('visuals') }}" class="dropbtn">Visuals ▾</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('unemployment') }}">Unemployment</a>
                    <a href="{{ url_for('gdp_chart') }}">GDP</a>
                    <a href="{{ url_for('rent') }}">Rent Prices</a>
                    <a href="{{ url_for('mortgage') }}">Mortgage Rates</a>
                    <a href="{{ url_for('debt') }}">Gov Debt</a>
                 </div>
             </div>

             <a href="{{ url_for('insights') }}">Articles</a>
             <a href="{{ url_for('fear_greed_index') }}">Fear & Greed Indexes</a>
             <a href="{{ url_for('feedback') }}">Feedback</a>
        </nav>

    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>

<footer>
    <p> &copy; 2025 Byrne Analytics. A Byrne Group company. All rights reserved.</p>
</footer>

<meta name="description" content="Live Irish financial trends: inflation, debt, unemployment, rent, mortgage rates, and more.">
<meta property="og:title" content="Byrne Analytics">
<meta property="og:image" content="/static/logo.png">

<meta property="og:title" content="Byrne Analytics">
<meta property="og:description" content="Explore Irish financial trends with live charts and analysis.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://byrnegroup.ie">
<meta property="og:image" content="https://byrnegroup.ie/static/favicon.png">